body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #15688f;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}

header h2 {
    background: #1fa7d1;
    padding: 25px;
    border-radius: 40px;
    color: #121727;
}

/* LAYOUT */
main {
    display: flex;
    gap: 15px;
    padding: 15px;
}

.panel, .losowanie {
    background: #1fa7d1;
    border-radius: 30px;
    padding: 15px;
}

.panel {
    width: 260px;
    min-width: 260px;
    max-width: 260px;
}

@media(max-width:800px){
    main {
        flex-direction: column;
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ffffff20;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
}

/* SPECJALNIE DLA LISTY WYKONANYCH */
.done {
    display: flex;
    align-items: center;
    gap: 8px;
    color: lightgreen;
}

/* tylko tekst przekreślony */
.done .tekst {
    text-decoration: line-through;
}

/* checkmark */
.check {
    flex-shrink: 0;
}

/* LOSOWANIE */
.losowanie {
    flex: 1;
    text-align: center;
}

.wylosowane {
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    background: #f0f0f0;
    font-weight: bold;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash {
    background: red !important;
}

/* PRZYCISKI */
button {
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}

.glowny {
    background: #121727;
    color: white;
    padding: 12px 25px;
}

.ok {
    background: #28a745;
    color: white;
}

.danger {
    margin-top: 10px;
    background: #b02a37;
    color: white;
}

/* STATYSTYKI */
.statystyki {
    margin-top: 20px;
    background: #ffffff20;
    padding: 15px;
    border-radius: 15px;
}

/* STOPKA */
footer {
    margin-top: 20px;
    background: #121727;
    color: white;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-container div {
    max-width: 250px;
}

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    background: none;
    padding: 0;
}

copyright {
    text-align: center;
    margin-top: 15px;
}